USE [BriefcaseNgDB]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 10/11/2021 10:04:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[UniqueID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [int] NULL,
	[StartDate] [smalldatetime] NULL,
	[EndDate] [smalldatetime] NULL,
	[AllDay] [bit] NULL,
	[Subject] [nvarchar](50) NULL,
	[Location] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NULL,
	[Label] [int] NULL,
	[ResourceID] [int] NULL,
	[ResourceIDs] [nvarchar](max) NULL,
	[ReminderInfo] [nvarchar](max) NULL,
	[RecurrenceInfo] [nvarchar](max) NULL,
	[CustomField1] [nvarchar](max) NULL,
 CONSTRAINT [PK_Appointments] PRIMARY KEY CLUSTERED 
(
	[UniqueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Billing]    Script Date: 10/11/2021 10:04:39 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Billing](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CaseID] [int] NULL,
	[ClientID] [int] NULL,
	[AmountPaid] [float] NULL,
	[DatePaid] [datetime2](7) NULL,
	[Balance] [float] NULL,
	[BalancePaymentDate] [datetime2](7) NULL,
	[BillingOfficer] [nvarchar](50) NULL,
	[BillingOfficerID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CaseAssignedStaff]    Script Date: 10/11/2021 10:04:39 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaseAssignedStaff](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CaseID] [int] NULL,
	[StaffID] [int] NULL,
	[StaffName] [nvarchar](50) NULL,
	[TeamLeaderID] [nvarchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CaseCategories]    Script Date: 10/11/2021 10:04:39 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaseCategories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TypeID] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Encryption] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CaseDetails]    Script Date: 10/11/2021 10:04:39 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaseDetails](
	[CaseID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NULL,
	[Name] [nvarchar](max) NULL,
	[CaseNumber] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[TypeID] [int] NULL,
	[Category] [nvarchar](50) NULL,
	[CategoryID] [int] NULL,
	[Stage] [nvarchar](50) NULL,
	[DateOpened] [datetime2](7) NULL,
	[PracticeArea] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[Court] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CaseStages]    Script Date: 10/11/2021 10:04:39 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaseStages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Step] [int] NULL,
	[CatID] [int] NULL,
	[Icon] [nvarchar](50) NULL,
	[Label] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CaseTypes]    Script Date: 10/11/2021 10:04:39 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaseTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Encryption] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Clients]    Script Date: 10/11/2021 10:04:39 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](50) NULL,
	[Firstname] [nvarchar](50) NULL,
	[Middlename] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[ContactGroup] [nvarchar](50) NULL,
	[ClientPortalEnabled] [bit] NULL,
	[MobilePhoneNo] [nvarchar](50) NULL,
	[WorkPhoneNo] [nvarchar](50) NULL,
	[HomePhoneNo] [nvarchar](50) NULL,
	[Address] [nvarchar](max) NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](150) NULL,
	[RegDate] [datetime2](7) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContactGroups]    Script Date: 10/11/2021 10:04:39 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactGroups](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ConversationsThread]    Script Date: 10/11/2021 10:04:39 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConversationsThread](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TicketID] [int] NULL,
	[UserID] [nvarchar](50) NULL,
	[Message] [nvarchar](max) NULL,
	[Date] [datetime2](7) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CourtHearingSchedules]    Script Date: 10/11/2021 10:04:39 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourtHearingSchedules](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CaseID] [int] NULL,
	[CourtID] [int] NULL,
	[CourtName] [nvarchar](max) NULL,
	[Date] [datetime2](7) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Courts]    Script Date: 10/11/2021 10:04:39 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Address] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Milestones]    Script Date: 10/11/2021 10:04:39 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Milestones](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CaseID] [int] NULL,
	[Stage] [nvarchar](50) NULL,
	[DateAchieved] [datetime2](7) NULL,
	[Milestone] [nvarchar](max) NULL,
	[SupportingDocuments] [nvarchar](max) NULL,
	[Icon] [nvarchar](50) NULL,
	[Label] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PracticeAreas]    Script Date: 10/11/2021 10:04:39 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PracticeAreas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Resources]    Script Date: 10/11/2021 10:04:39 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resources](
	[UniqueID] [int] IDENTITY(1,1) NOT NULL,
	[ResourceID] [int] NOT NULL,
	[ResourceName] [nvarchar](50) NULL,
	[Color] [int] NULL,
	[Image] [image] NULL,
	[CustomField1] [nvarchar](max) NULL,
 CONSTRAINT [PK_Resources] PRIMARY KEY CLUSTERED 
(
	[UniqueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Studyweek]    Script Date: 10/11/2021 10:04:39 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Studyweek](
	[Week] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 10/11/2021 10:04:39 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](50) NULL,
	[CaseID] [int] NULL,
	[Subject] [nvarchar](max) NULL,
	[Priority] [nvarchar](50) NULL,
	[Date] [datetime2](7) NULL,
	[LastUpdated] [datetime2](7) NULL,
	[Category] [nvarchar](50) NULL,
	[TicketID] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/11/2021 10:04:39 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Surname] [nvarchar](50) NULL,
	[Firstname] [nvarchar](50) NULL,
	[Middlename] [nvarchar](50) NULL,
	[Name] [varchar](50) NOT NULL,
	[Gender] [nvarchar](50) NULL,
	[Email] [varchar](160) NULL,
	[UserType] [varchar](20) NULL,
	[YearOfCall] [nvarchar](50) NULL,
	[Phone] [varchar](13) NULL,
	[WorkPhone] [varchar](13) NULL,
	[Address] [nvarchar](max) NULL,
	[DOB] [date] NULL,
	[StaffID] [nvarchar](50) NULL,
	[NoK_Fullname] [nvarchar](50) NULL,
	[NoK_Relationship] [nvarchar](50) NULL,
	[NoK_Phone] [varchar](13) NULL,
	[NoK_Email] [nvarchar](50) NULL,
	[NoK_Address] [nvarchar](max) NULL,
	[Status] [tinyint] NULL,
	[Logs] [int] NULL,
	[DateAdded] [datetime2](7) NULL,
	[Password] [varchar](40) NULL,
	[RoleID] [int] NULL,
	[PasswordSetDate] [date] NULL,
	[LoginAttempt] [int] NULL,
	[LockStatus] [nvarchar](10) NULL,
	[LockTime] [datetime2](7) NULL,
	[Last6Passwords] [nvarchar](max) NULL,
	[RegDate] [datetime2](7) NULL,
	[ProfilePicUrl] [nvarchar](150) NULL,
	[TaskLoad] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users2]    Script Date: 10/11/2021 10:04:39 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users2](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Surname] [nvarchar](50) NULL,
	[Firstname] [nvarchar](50) NULL,
	[Middlename] [nvarchar](50) NULL,
	[Name] [varchar](50) NOT NULL,
	[Gender] [nvarchar](50) NULL,
	[Email] [varchar](160) NULL,
	[UserType] [varchar](20) NULL,
	[YearOfCall] [nvarchar](50) NULL,
	[Phone] [varchar](13) NULL,
	[WorkPhone] [varchar](13) NULL,
	[Address] [nvarchar](max) NULL,
	[DOB] [date] NULL,
	[StaffID] [nvarchar](50) NULL,
	[NoK_Fullname] [nvarchar](50) NULL,
	[NoK_Relationship] [nvarchar](50) NULL,
	[NoK_Phone] [varchar](13) NULL,
	[NoK_Email] [nvarchar](50) NULL,
	[NoK_Address] [nvarchar](max) NULL,
	[Status] [tinyint] NULL,
	[Logs] [int] NULL,
	[DateAdded] [date] NULL,
	[Password] [varchar](40) NULL,
	[FirmID] [int] NULL,
	[RoleID] [int] NULL,
	[PasswordSetDate] [date] NULL,
	[LoginAttempt] [int] NULL,
	[LockStatus] [nvarchar](10) NULL,
	[LockTime] [datetime2](7) NULL,
	[Last6Passwords] [nvarchar](max) NULL,
	[AccountNumber] [nvarchar](50) NULL,
	[BankName] [nvarchar](50) NULL,
	[PIN] [nvarchar](50) NULL,
	[AccountID] [nvarchar](50) NULL,
	[AccountType] [nvarchar](50) NULL,
	[Balance] [float] NULL,
	[RegDate] [datetime2](7) NULL,
	[ProfilePicUrl] [nvarchar](150) NULL,
	[Profile] [nvarchar](max) NULL,
	[Domain] [nvarchar](50) NULL,
	[TaskLoad] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserTypes]    Script Date: 10/11/2021 10:04:39 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([UniqueID], [Type], [StartDate], [EndDate], [AllDay], [Subject], [Location], [Description], [Status], [Label], [ResourceID], [ResourceIDs], [ReminderInfo], [RecurrenceInfo], [CustomField1]) VALUES (3, 0, CAST(N'2020-07-13 09:00:00' AS SmallDateTime), CAST(N'2020-07-13 11:00:00' AS SmallDateTime), 0, N'Team Inauguration', N'Conference Room', N'A team of lawyers and barristers shall be drafted to handle the case of Shehu Ahmed vs the State Government', 2, 1, 7, NULL, NULL, NULL, NULL)
INSERT [dbo].[Appointments] ([UniqueID], [Type], [StartDate], [EndDate], [AllDay], [Subject], [Location], [Description], [Status], [Label], [ResourceID], [ResourceIDs], [ReminderInfo], [RecurrenceInfo], [CustomField1]) VALUES (4, 0, CAST(N'2021-02-18 10:00:00' AS SmallDateTime), CAST(N'2021-02-18 11:30:00' AS SmallDateTime), 0, N'Panel Setup', NULL, N'Little Note', 2, 0, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Appointments] ([UniqueID], [Type], [StartDate], [EndDate], [AllDay], [Subject], [Location], [Description], [Status], [Label], [ResourceID], [ResourceIDs], [ReminderInfo], [RecurrenceInfo], [CustomField1]) VALUES (5, 0, CAST(N'2021-01-18 13:23:00' AS SmallDateTime), CAST(N'2021-01-18 13:53:00' AS SmallDateTime), 0, N'Team Setup', N'Conference Room', N'Attendance is mandatory', 2, 1, 8, NULL, N'<Reminders>
<Reminder AlertTime="02/18/2021 04:17:07" TimeBeforeStart="00:05:00" />
</Reminders>', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Appointments] OFF
SET IDENTITY_INSERT [dbo].[CaseAssignedStaff] ON 

INSERT [dbo].[CaseAssignedStaff] ([ID], [CaseID], [StaffID], [StaffName], [TeamLeaderID]) VALUES (1, 3, 22, N'Barr. Udokwu Michael ', N'22')
INSERT [dbo].[CaseAssignedStaff] ([ID], [CaseID], [StaffID], [StaffName], [TeamLeaderID]) VALUES (2, 3, 23, N'Barr. Ahmed Temitope ', N'22')
INSERT [dbo].[CaseAssignedStaff] ([ID], [CaseID], [StaffID], [StaffName], [TeamLeaderID]) VALUES (3, 3, 16, N' Benedict Azeez ', N'22')
SET IDENTITY_INSERT [dbo].[CaseAssignedStaff] OFF
SET IDENTITY_INSERT [dbo].[CaseCategories] ON 

INSERT [dbo].[CaseCategories] ([ID], [TypeID], [Name], [Encryption]) VALUES (1, 1, N'Trial Courts', N'VUpYYWh4R0lEOVdkeVIzYw==')
INSERT [dbo].[CaseCategories] ([ID], [TypeID], [Name], [Encryption]) VALUES (2, 1, N'Election Petitions', N'RnhXWmpSWGF2NUdJUVZHZHBSWGF2NTJj')
INSERT [dbo].[CaseCategories] ([ID], [TypeID], [Name], [Encryption]) VALUES (3, 1, N'Appeals (Sharia Court)', N'PT1RUXdCWFpoeDJjZ2d5VW9GbWNwRkdJRDlXZHlSWEs=')
SET IDENTITY_INSERT [dbo].[CaseCategories] OFF
SET IDENTITY_INSERT [dbo].[CaseDetails] ON 

INSERT [dbo].[CaseDetails] ([CaseID], [ClientID], [Name], [CaseNumber], [Type], [TypeID], [Category], [CategoryID], [Stage], [DateOpened], [PracticeArea], [Description], [Court], [Status]) VALUES (1, 4, N'Ojo Maureen vs Employer', N'LI/2020/06/20/001', N'Arbitration', 2, N'Arbitrations', 19, N'Originating Processes', CAST(N'2020-07-07 00:00:00.0000000' AS DateTime2), N'Defamation', N'Ojo Maureen vs Employer', N'Federal High Court, Central Business District, Abuja', N'Ongoing')
INSERT [dbo].[CaseDetails] ([CaseID], [ClientID], [Name], [CaseNumber], [Type], [TypeID], [Category], [CategoryID], [Stage], [DateOpened], [PracticeArea], [Description], [Court], [Status]) VALUES (2, 5, N'Yusuf Gambo vs Employer', N'LI/2020/06/20/002', N'Litigation', 1, N'Trial Courts', 1, N'Final Written Addresses', CAST(N'2020-07-07 00:00:00.0000000' AS DateTime2), N'Civil', N'Yusuf Gambo vs Employer', N'High Court of the Federal Capital Territory', N'Ongoing')
INSERT [dbo].[CaseDetails] ([CaseID], [ClientID], [Name], [CaseNumber], [Type], [TypeID], [Category], [CategoryID], [Stage], [DateOpened], [PracticeArea], [Description], [Court], [Status]) VALUES (3, 12, N'Gregory Nnamuka vs Landlord', N'LI/2020/06/20/003', N'Litigation', 1, N'Appeals (Court of Appeal)', 4, N'Notice of Appeals', CAST(N'2020-07-07 00:00:00.0000000' AS DateTime2), N'Civil', N'Gregory Nnamuka vs Landlord', N'High Court of the Federal Capital Territory', N'Ongoing')
SET IDENTITY_INSERT [dbo].[CaseDetails] OFF
SET IDENTITY_INSERT [dbo].[CaseStages] ON 

INSERT [dbo].[CaseStages] ([ID], [Name], [Step], [CatID], [Icon], [Label]) VALUES (1, N'Originating Processes', 1, 1, N'fa-clock', N'text-success')
INSERT [dbo].[CaseStages] ([ID], [Name], [Step], [CatID], [Icon], [Label]) VALUES (2, N'Interlucutory Applications', 2, 1, N'fa-file-alt', N'text-info')
INSERT [dbo].[CaseStages] ([ID], [Name], [Step], [CatID], [Icon], [Label]) VALUES (3, N'Final Written Addresses', 3, 1, N'fa-tasks', N'text-warning')
SET IDENTITY_INSERT [dbo].[CaseStages] OFF
SET IDENTITY_INSERT [dbo].[CaseTypes] ON 

INSERT [dbo].[CaseTypes] ([ID], [Name], [Encryption]) VALUES (1, N'Litigation', N'PT1BVHBSWGFuRkdkcDltYg==')
INSERT [dbo].[CaseTypes] ([ID], [Name], [Encryption]) VALUES (2, N'Arbitration', N'PUVrY2lsR2R5RkdkcDltYg==')
INSERT [dbo].[CaseTypes] ([ID], [Name], [Encryption]) VALUES (3, N'Commercial Briefs', N'PU0wYnQxV1p5TldhaHhHSUNKWGFsWjJj')
SET IDENTITY_INSERT [dbo].[CaseTypes] OFF
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ClientID], [Surname], [Firstname], [Middlename], [Email], [ContactGroup], [ClientPortalEnabled], [MobilePhoneNo], [WorkPhoneNo], [HomePhoneNo], [Address], [Username], [Password], [RegDate]) VALUES (1, N'Yetunde ', N'Olatunji', NULL, N'yetunde@gmail.com', N'Group 1', 1, N'08012345678', NULL, NULL, N'No 4 Hillary Street, Dawaki Model Estate', NULL, NULL, CAST(N'2020-06-01 00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Clients] ([ClientID], [Surname], [Firstname], [Middlename], [Email], [ContactGroup], [ClientPortalEnabled], [MobilePhoneNo], [WorkPhoneNo], [HomePhoneNo], [Address], [Username], [Password], [RegDate]) VALUES (2, N'Philip', N' Johnson ', NULL, N'tersoo@gmail.com', N'Group 1', 1, N'08012345679', NULL, NULL, N'Flat 3, Parmar Chambers, 68-72, Stuart Street', NULL, NULL, CAST(N'2020-06-01 00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Clients] ([ClientID], [Surname], [Firstname], [Middlename], [Email], [ContactGroup], [ClientPortalEnabled], [MobilePhoneNo], [WorkPhoneNo], [HomePhoneNo], [Address], [Username], [Password], [RegDate]) VALUES (3, N'Abdulahi ', N'Musa', NULL, N'a.musa@gmail.com', N'Group 1', 1, N'08012345680', NULL, NULL, N'Golden-Gate Lodge,  Lugbe-Abuja', NULL, NULL, CAST(N'2020-06-01 00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Clients] OFF
SET IDENTITY_INSERT [dbo].[ContactGroups] ON 

INSERT [dbo].[ContactGroups] ([ID], [Name]) VALUES (1, N'Group 1')
INSERT [dbo].[ContactGroups] ([ID], [Name]) VALUES (2, N'Group 2')
INSERT [dbo].[ContactGroups] ([ID], [Name]) VALUES (3, N'Group 3')
SET IDENTITY_INSERT [dbo].[ContactGroups] OFF
SET IDENTITY_INSERT [dbo].[ConversationsThread] ON 

INSERT [dbo].[ConversationsThread] ([ID], [TicketID], [UserID], [Message], [Date]) VALUES (1, 1, N'9', N'A piece of evidence is required to proceed with the case.', CAST(N'2020-07-16 16:46:42.0000000' AS DateTime2))
INSERT [dbo].[ConversationsThread] ([ID], [TicketID], [UserID], [Message], [Date]) VALUES (2, 1, N'9', N'In addition, kindly provide up with an affidavit of Age declaration', CAST(N'2020-07-16 18:55:15.0000000' AS DateTime2))
INSERT [dbo].[ConversationsThread] ([ID], [TicketID], [UserID], [Message], [Date]) VALUES (3, 1, N'9', N'In addition, kindly provide up with an affidavit of Age declaration', CAST(N'2020-07-16 19:05:42.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ConversationsThread] OFF
SET IDENTITY_INSERT [dbo].[CourtHearingSchedules] ON 

INSERT [dbo].[CourtHearingSchedules] ([ID], [CaseID], [CourtID], [CourtName], [Date]) VALUES (4, 2, 2, N'High Court of the Federal Capital Territory', CAST(N'2020-07-15 00:00:00.0000000' AS DateTime2))
INSERT [dbo].[CourtHearingSchedules] ([ID], [CaseID], [CourtID], [CourtName], [Date]) VALUES (2, 1, 2, N'High Court of the Federal Capital Territory', CAST(N'2020-07-14 00:00:00.0000000' AS DateTime2))
INSERT [dbo].[CourtHearingSchedules] ([ID], [CaseID], [CourtID], [CourtName], [Date]) VALUES (3, 3, 2, N'High Court of the Federal Capital Territory', CAST(N'2020-07-15 00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CourtHearingSchedules] OFF
SET IDENTITY_INSERT [dbo].[Courts] ON 

INSERT [dbo].[Courts] ([ID], [Name], [Address]) VALUES (1, N'Federal High Court, Central Business District, Abuja', NULL)
INSERT [dbo].[Courts] ([ID], [Name], [Address]) VALUES (2, N'High Court of the Federal Capital Territory', NULL)
INSERT [dbo].[Courts] ([ID], [Name], [Address]) VALUES (4, N'Supreme Court Complex, Abuja, Nigeria', NULL)
SET IDENTITY_INSERT [dbo].[Courts] OFF
SET IDENTITY_INSERT [dbo].[Milestones] ON 

INSERT [dbo].[Milestones] ([ID], [CaseID], [Stage], [DateAchieved], [Milestone], [SupportingDocuments], [Icon], [Label]) VALUES (6, 2, N'Interlucutory Applications', CAST(N'2020-07-10 00:00:00.0000000' AS DateTime2), N'The Interlocutory Petition began with a point of view to shield the finishes of equity from being vanquished when the Original Petition can`t address the prompt conditions. ', N'../Briefcase/Litigation/Trial Courts/Yusuf Gambo vs Employer LI_2020_06_20_002/Interlucutory Applications/Interlocutor.pdf`', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Milestones] OFF
SET IDENTITY_INSERT [dbo].[PracticeAreas] ON 

INSERT [dbo].[PracticeAreas] ([ID], [Name]) VALUES (1, N'Bankruptcy')
INSERT [dbo].[PracticeAreas] ([ID], [Name]) VALUES (2, N'Business')
INSERT [dbo].[PracticeAreas] ([ID], [Name]) VALUES (3, N'Civil')
SET IDENTITY_INSERT [dbo].[PracticeAreas] OFF
SET IDENTITY_INSERT [dbo].[Resources] ON 

INSERT [dbo].[Resources] ([UniqueID], [ResourceID], [ResourceName], [Color], [Image], [CustomField1]) VALUES (1, 1, N'Ojo Maureen vs Employer', 1, NULL, NULL)
INSERT [dbo].[Resources] ([UniqueID], [ResourceID], [ResourceName], [Color], [Image], [CustomField1]) VALUES (2, 2, N'Yusuf Gambo vs Employer', NULL, NULL, NULL)
INSERT [dbo].[Resources] ([UniqueID], [ResourceID], [ResourceName], [Color], [Image], [CustomField1]) VALUES (3, 3, N'Gregory Nnamuka vs Landlord', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Resources] OFF
INSERT [dbo].[Studyweek] ([Week]) VALUES (3)
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([ID], [UserID], [CaseID], [Subject], [Priority], [Date], [LastUpdated], [Category], [TicketID], [Status]) VALUES (1, N'9', 6, N'Evidence Required', N'Normal', CAST(N'2020-07-16 16:46:42.0000000' AS DateTime2), CAST(N'2020-07-16 19:05:42.0000000' AS DateTime2), NULL, NULL, N'Open')
SET IDENTITY_INSERT [dbo].[Tickets] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[Users2] ON 

SET IDENTITY_INSERT [dbo].[Users2] OFF
SET IDENTITY_INSERT [dbo].[UserTypes] ON 

INSERT [dbo].[UserTypes] ([ID], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[UserTypes] ([ID], [Name]) VALUES (2, N'Lawyer')
INSERT [dbo].[UserTypes] ([ID], [Name]) VALUES (3, N'Support Staff')
SET IDENTITY_INSERT [dbo].[UserTypes] OFF
